@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --background: linear-gradient(180deg, #313131 0%, #1e1e1e 100%);

    --font: "Poppins", sans-serif;

    --text-color: #fff;

    --margin-sides: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

body {
    background: var(--background);
}

body > * {
    color: var(--text-color);
    min-height: 100vh;
}

header {
    align-items: center;
    display: flex;
    height: 15vh;
    justify-content: center;
}

main {
    display: block;
    margin: 0 var(--margin-sides);
    min-height: 80vh;
    min-width: calc(100% - var(--margin-sides) * 2);
}
